
#one{
    /* display: inline; */
    background-color: rgba(255, 0,0,0.9);
}
button{
    display: block;
}
div{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;

    /* display: inline; */
    display: inline-block;
}
#box2{
    /* display: none; */
    visibility: hidden;
}